---
import DefaultLayout from '~/layouts/DefaultLayout.astro';
import Breadcrumb from "~/components/page/Breadcrumb.astro";
import MetaHead from "~/components/page/MetaHead.astro";
import SectionTextPict from "~/components/page/SectionTextPict.astro";
import loadJson from '~/lib/loadJson.js'
import SucheClient from '~/components/SucheClient.jsx';

import { pageinfo } from '~/constants.ts';
const page_title = "Suche in HistVV";

let veranstaltungen = [], dozierende = []
try {
  veranstaltungen = await loadJson('data/tbl_veranstaltungen-merged.json')
  dozierende      = await loadJson('data/tbl_dozenten.json')
} catch (e) {
  console.error('JSON load error:', e)
}

const breadcrumb = [
  { label: "Home", href: "/" },
  { label: "Suche", href: "/suche/" }
];
---

<DefaultLayout>
    <Breadcrumb items={breadcrumb} />

    <MetaHead slot="head"
        title={`${page_title} | ${pageinfo.title} ${pageinfo.byline}`}
        description={`${pageinfo.description}`}
    />


    <SectionTextPict>
        <h1>{page_title}</h1>

        <!-- React-Client bekommt die Daten als Props -->
        <SucheClient
          client:visible
          veranstaltungen={veranstaltungen}
          dozierende={dozierende} />
          
    </SectionTextPict>

</DefaultLayout>
