---
import DefaultLayout from '~/layouts/DefaultLayout.astro';
import Breadcrumb from "~/components/page/Breadcrumb.astro";
import MetaHead from "~/components/page/MetaHead.astro";
import SectionIntro from "~/components/page/SectionIntro.astro";
import SectionTextPict from "~/components/page/SectionTextPict.astro";
import SucheClient from '~/components/SucheClient.jsx';

import { pageinfo } from '~/constants.ts';
const page_title = "Suche in HistVV";

const breadcrumb = [
  { label: "Home", href: "/" },
  { label: "Suche", href: "/suche/" }
];
---

<DefaultLayout>
    <Breadcrumb items={breadcrumb} />

    <MetaHead slot="head"
        title={`${page_title} | ${pageinfo.title} ${pageinfo.byline}`}
        description={`${pageinfo.description}`}
    />
    
    <SectionTextPict>
        <h1>{page_title}</h1>
      
        <SucheClient client:only="react" />
    </SectionTextPict>
</DefaultLayout>
