---
import DefaultLayout from '~/layouts/DefaultLayout.astro';
import Breadcrumb from "~/components/page/Breadcrumb.astro";
import MetaHead from "~/components/page/MetaHead.astro";
import SectionTextPict from "~/components/page/SectionTextPict.astro";
import loadJson from '~/lib/loadJson.js';

const website_title = "Historische Vorlesungsverzeichnisse der Universität Zürich";
const page_title = "Dozierende";
const website_byline = "1833 - 1900";
const website_description = " ";

export async function getStaticPaths() {
  const dozenten = await loadJson('/data/tbl_dozenten.json');
  const veranstaltungen = await loadJson('/data/tbl_veranstaltungen.json');

  return dozenten.map((dozent) => {
    const veranstaltungen_dozent = veranstaltungen.filter(
      (v) => v.id_dozent?.trim() === dozent.id_dozent?.trim()
    );

    return {
      params: { id: dozent.id_dozent },
      props: {
        dozent,
        veranstaltungen_dozent,
      }
    };
  });
}

const { dozent, veranstaltungen_dozent } = Astro.props;


const breadcrumb = [
  { label: "Home", href: "/" },
  { label: "Dozierende", href: "/dozierende/" },
  { label: `${dozent.nachname}, ${dozent.vorname}`, href: `/dozierende/${dozent.id_dozent}/` }
];
---

<DefaultLayout>
  <Breadcrumb items={breadcrumb} />
  
  <MetaHead slot="head"
    title={`${dozent.nachname}, ${dozent.vorname} | ${website_title} ${website_byline}`}
    description={`${website_description}`}
  />

  <SectionTextPict>
    <h1>{dozent.nachname}, {dozent.vorname}</h1>

    <p>
      {dozent.geboren && (
        <>
          <span style="width:18px;display:inline-block;">&#10025;</span> {dozent.geboren}
          {dozent.gestorben && (
            <>
              <br />
              <span style="width:18px;display:inline-block;">&dagger;</span> {dozent.gestorben}
            </>
          )}
        </>
      )}
      {!dozent.geboren && dozent.gestorben && (
        <>
          <span style="width:18px;display:inline-block;">&dagger;</span> {dozent.gestorben}
        </>
      )}
    </p>


    {dozent.gagliardi && <p>{dozent.gagliardi}</p>}
    {dozent.fak && <p>{dozent.fak}</p>}
    {dozent.dekanat && <p>{dozent.dekanat}</p>}
    {dozent.rektor && <p>{dozent.rektor}</p>}
    {dozent.pnd && <p>PND: <a href={`https://d-nb.info/gnd/${dozent.pnd}`}>{dozent.pnd}</a></p>}
    {dozent.wikipedia && <p>Wikipedia: <a href={dozent.wikipedia}>{dozent.wikipedia}</a></p>}

    <h2>Veranstaltungen</h2>
    <table class="sortable">
    <thead>
      <tr>
        <th>#</th>
        <th>Semester</th>
        <th>Veranstaltung</th>
        <th>Grad</th>
        <th>Funktion</th>
      </tr>
    </thead>
    <tbody>
      {veranstaltungen_dozent.map((v, index) => (
        <tr>
          <td>{index + 1}</td>
          <td>
            <a href={`/vv/${v.id_semester}#${v.id_veranstaltung}`}>{v.id_semester}</a>
          </td>
          <td>{v.thema}</td>
          <td>{v.grad_dozent || ''}</td>
          <td>{v.funktion_dozent || ''}</td>
        </tr>
      ))}
    </tbody>
    </table>

  </SectionTextPict>
</DefaultLayout>


