---
import DefaultLayout from '~/layouts/DefaultLayout.astro';
import Breadcrumb from "~/components/page/Breadcrumb.astro";
import MetaHead from "~/components/page/MetaHead.astro";
import SectionIntro from "~/components/page/SectionIntro.astro";
import SectionTextPict from "~/components/page/SectionTextPict.astro";
import loadJson from '~/lib/loadJson.js';

const website_title = "Historische Vorlesungsverzeichnisse der Universität Zürich"
const page_title = "Dozierende"
const website_byline = "1833 - 1900"
const website_description = " "

const dozierende = (await loadJson('/data/tbl_dozenten.json'))
  .filter((d) => d.id_dozent?.trim() !== '')
  .sort((a, b) => a.nachname.localeCompare(b.nachname));
  
const breadcrumb = [
  { label: "Home", href: "/" },
  { label: "Dozierende", href: "/dozierende/" }
];
---
<DefaultLayout>
    <Breadcrumb items={breadcrumb} />

    <MetaHead slot="head"
        title={`${page_title} | ${website_title} ${website_byline}`}
        description={`${website_description}`}
    />

    <SectionIntro>{`${page_title}`}</SectionIntro>
    
    <SectionTextPict>
        <table class="tablesorter">
          <thead>
            <tr>
              <th>Nachname, Vorname</th>
              <th>Geboren</th>
              <th>Gestorben</th>
              <th>Fakultät</th>
            </tr>
          </thead>
          <tbody>
            {dozierende.map((d) => (
            <tr>
              <td>
                <a href={`/dozierende/${d.id_dozent}/`}>
                  {d.nachname}, {d.vorname}
                </a>
              </td>
              <td>
                  {d.geboren}
              </td>
              <td>
                  {d.gestorben || d.gestorben || ""}
              </td>
              <td>
                  {d.fak || ""}
              </td>
            </tr>
            ))}
          </tbody>
        </table>
    </SectionTextPict>

</DefaultLayout>
