---
interface Props {
    title: string;
    description: string;
}

//const { title, description } = Astro.props;
//const titleSuffix = "| HistVV – Historisches Vorlesungsverzeichnis | UZH";
const site_title = "HistVV – Historisches Vorlesungsverzeichnis | UZH";
const description = "";
---

<title>
    { site_title }
</title>

<!--<meta name="description" content={description}>-->

<meta property="og:title" content={`${title} ${titleSuffix}`} />
<meta name="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:type" content="website">
<meta name="og:locale" content="de">


