---
import DefaultLayout from '~/layouts/DefaultLayout.astro';
import Breadcrumb from "~/components/page/Breadcrumb.astro";
import MetaHead from "~/components/page/MetaHead.astro";
import SectionIntro from "~/components/page/SectionIntro.astro";
import SectionTextPict from "~/components/page/SectionTextPict.astro";

import { pageinfo } from '~/constants.ts';
const page_title = "Abkürzungen";

const breadcrumb = [
  { label: "Home", href: "/" },
  { label: "Abkürzungen", href: "/abkuerzungen/" }
];
---
<DefaultLayout>
    <Breadcrumb items={breadcrumb} />

    <MetaHead slot="head"
    title={`${page_title} | ${pageinfo.title}`}
        description={`${pageinfo.description}`}
        matomo_tracking_id={`${pageinfo.matomo_tracking_id}`}
    />
    
    <SectionTextPict>
        <h1>{page_title}</h1>
        
        <h2>Anstellungsverhältnis/akademischer Titel</h2>
        <table class="tbl_abk">
            <tr>
            <th>PD</th>
            <td>Privatdozierende</td>
            </tr>
            <tr>
            <th>EO</th>
            <td>Extraordinarius/Extraordinaria</td>
            </tr>
            <tr>
            <th>O</th>
            <td>Ordinarius/Ordinaria</td>
            </tr>
            <tr>
            <th>HP</th>
            <td>HonorarprofessorIn</td>
            </tr>
            <tr>
            <th>Doz</th>
            <td>Dozierende</td>
            </tr>
        </table>
        <h2>Dekanate</h2>
        <table class="tbl_abk">
            <tr>
            <th>Dekan/T</th>
            <td>DekanIn der Theologischen Fakultät</td>
            </tr>
            <tr>
            <th>Dekan/S</th>
            <td>DekanIn der Staatswissenschaftlichen Fakultät</td>
            </tr>
            <tr>
            <th>Dekan/M</th>
            <td>DekanIn der Medizinischen Fakultät</td>
            </tr>
            <tr>
            <th>Dekan/P</th>
            <td>DekanIn der Philosophischen Fakultät</td>
            </tr>
            <tr>
            <th>Dekan/P1</th>
            <td>DekanIn der Philosophischen Fakultät (I): Philologisch-historische Sektion (ab 1860)</td>
            </tr>
            <tr>
            <th>Dekan/P2</th>
            <td>DekanIn der Philosophischen Fakultät (II): Mathematisch-naturwissenschaftliche Sektion (ab 1860)</td>
            </tr>
        </table>
        <h2>Zeitangaben/Wochenstunden</h2>
        <table class="tbl_abk">
            <tr>
            <th>Mo</th>
            <td>Montag</td>
            </tr>
            <tr>
            <th>Di</th>
            <td>Dienstag</td>
            </tr>
            <tr>
            <th>Mi</th>
            <td>Mittwoch</td>
            </tr>
            <tr>
            <th>Do</th>
            <td>Donnerstag</td>
            </tr>
            <tr>
            <th>Fr</th>
            <td>Freitag</td>
            </tr>
            <tr>
            <th>Sa</th>
            <td>Samstag</td>
            </tr>
            <tr>
            <th>So</th>
            <td>Sonntag</td>
            </tr>
            <tr>
            <th>St</th>
            <td>Anzahl Wochenstunden</td>
            </tr>
        </table>
        <h2>Semester</h2>
        <table class="tbl_abk">
            <tr>
            <th>SS</th>
            <td>Sommersemester</td>
            </tr>
            <tr>
            <th>WS</th>
            <td>Wintersemester</td>
            </tr>
        </table>
        <h2>Dozentenseiten</h2>
        <table class="tbl_abk">
            <tr>
            <th>UZV</th>
            <td>Die Universität Zürich 1833–1933 und ihre Vorläufer, bearbeitet von Ernst Gagliardi, Hans Nabholz und Jean Strohl, Zürich 1938</td>
            </tr>
            <tr>
            <th>GND</th>
            <td><a class="Link" href="https://de.wikipedia.org/wiki/Gemeinsame_Normdatei">Gemeinsame Normdatei</a></td>
            </tr>
        </table>
    </SectionTextPict>
</DefaultLayout>