---
import DefaultLayout from '~/layouts/DefaultLayout.astro';
import Breadcrumb from "~/components/page/Breadcrumb.astro";
import MetaHead from "~/components/page/MetaHead.astro";
import SectionIntro from "~/components/page/SectionIntro.astro";
import SectionTextPict from "~/components/page/SectionTextPict.astro";

import { pageinfo } from '~/constants.ts';
const page_title = "Benutzungshinweise";

const breadcrumb = [
  { label: "Home", href: "/" },
  { label: "Benutzungshinweise", href: "/benutzungshinweise/" }
];
---
<DefaultLayout>
    <Breadcrumb items={breadcrumb} />

    <MetaHead slot="head"
        title={`${page_title} | ${pageinfo.title} ${pageinfo.byline}`}
        description={`${pageinfo.description}`}
    />

    <!--<SectionIntro>{`${page_title}`}
        <div class="Intro--text" slot="lead"><p>Das Portal "Historische Vorlesungsverzeichnisse der Universität Zürich" erschließt als Hilfsmittel und Nachschlagewerk für biographische, forschungs-, disziplinen- oder institutionsgeschichtliche Fragestellungen alle im 19. Jahrhundert an der Universität Zürich angekündigten Lehrveranstaltungen auf der Grundlage der gedruckten Vorlesungsverzeichnisse. Es handelt sich dabei um insgesamt 24575 Veranstaltungen während 135 Semestern vom Sommersemester 1833 bis zum Sommersemester 1900.</p>
        </div>
    </SectionIntro>-->
    
    <SectionTextPict>
        <h1>{page_title}</h1>
        
        <p><big>Das Portal "Historische Vorlesungsverzeichnisse der Universität Zürich" erschließt als Hilfsmittel und Nachschlagewerk für biographische, forschungs-, disziplinen- oder institutionsgeschichtliche Fragestellungen alle im 19. Jahrhundert an der Universität Zürich angekündigten Lehrveranstaltungen auf der Grundlage der gedruckten Vorlesungsverzeichnisse. Es handelt sich dabei um insgesamt 24575 Veranstaltungen während 135 Semestern vom Sommersemester 1833 bis zum Sommersemester 1900.</big></p>
        
        <h2>Vorlesungsverzeichnisse</h2>
        
        <p>Unter <a href="/vv/" class="Link">Vorlesungsverzeichnisse</a> lassen sich die angekündigten Lehrveranstaltungen der einzelnen Semester - analog den gedruckten Vorlesungsverzeichnissen - anzeigen. Die bibliographischen Angaben der jeweiligen Vorlage werden auf den einzelnen Semesterseiten jeweils zuoberst unter "Quelle" festgehalten.</p>

        <p>Im 19. Jahrhundert umfasste die Universität Zürich eine theologische, staatswissenschaftliche, medizinische sowie eine philosophische Fakultät. Dazu trat die "Zahnärztliche Schule", die im Wintersemester 1895/96 provisorisch eingerichtet und nach Ablauf einer dreijährigen Probezeit definitiv als medizinische "Hilfsanstalt" in die Universität inkorporiert wurde. Die Lehrveranstaltungen an der zahnärztlichen Schule erscheinen seit deren Einrichtung ebenfalls - mit separater Nummerierung - in den gedruckten Vorlesungsverzeichnissen. Die Angabe der Fakultät und der zahnärztlichen Schule wird auf diesem Portal stets in normalisierter Form vorgenommen, unabhängig von der Schreibweise in den Vorlagen.</p>

        <p>Während die angekündigten Lehrveranstaltungen der theologischen, staatswissenschaftlichen und medizinischen Fakultät in den Vorlesungsverzeichnissen des 19. Jahrhunderts keine weitere Untergliederung erfahren, findet sich bei der philosophischen Fakultät zunächst eine weitere Gliederungsebene in Form von Abteilungen, die Fachgebieten entsprechen, wobei die genaue Aufteilung und Bezeichnung im Laufe der Zeit variiert. Im <a href="/vv/1833s.html" class="Link">Eröffnungssemester 1833</a> etwa gliederte sich die philosophische Fakultät in die Abteilungen "Philosophische Wissenschaften", "Philologie und Alterthumskunde", "Geschichte", "Mathematik" und "Naturkunde". Im <a href="/vv/1860s" class="Link">Sommersemester 1860</a> wurde eine Teilung der philosophischen Fakultät in eine philologisch-historische und eine mathematisch-naturwissenschaftliche Sektion vollzogen und den Sektionen je ein eigener Dekan zugeordnet. Ab dem <a href="/vv/1861w" class="Link">Wintersemester 1860/61</a> findet sich in der philologisch-historischen Sektion eine zusätzliche Untergliederung in - variierend bezeichnete - Abteilungen (im Sommersemester 1882 etwa in "Philosophie und Pädagogik", "Sprach- und Alterthumswissenschaft, Literaturgeschichte" und "Geschichte, Geographie, Cultur- und Kunstgeschichte").</p>

        <p>Die Vorlesungsverzeichnisse vom Sommersemester 1865 bis zum Sommersemester 1867 enthalten abgesetzt am Ende der philosophischen Fakultät musikwissenschaftliche Veranstaltungen ohne Abteilungsbezeichnung. Diese werden hier einer fiktiven Abteilung "[Musik]" zugeordnet.</p>

        <p>Sowohl die Sektions- als auch Abteilungsüberschriften werden auf diesem Portal unverändert nach der Vorlage wiedergegeben. Die Vorlagen enthalten ferner Bemerkungen etwa zu Lehrstuhlvakanzen und zu noch nicht angekündigten Veranstaltungen oder zu zusätzlichen Kursen. Diese werden hier stets am Schluss der entsprechenden Fakultät beziehungsweise Sektion angeführt, zusammen mit etwaigen, durch einen Asterisk (*) gekennzeichnete Erläuterungen.</p>

        <p>Die Wiedergabe der einzelnen Lehrveranstaltungen enthält folgende Bestandteile:</p>

        <ul>
          <li>
            <p>1. Absatz</p>
            <ul>
              <li><i>Vorlesungsnummer:</i> Nummer der Vorlesung im jeweiligen Semester. In den ersten drei Semestern (1833, 1833/34 und 1834) fehlt in den entsprechenden Vorlesungsverzeichnissen eine solche Nummerierung. In diesen Fällen werden die Vorlesungsnummern in eckigen Klammern ergänzt. Fehlnummerierungen in den Vorlagen, die sich selbst neutralisieren (etwa "10, 10, 11, 12, 14"), werden stillschweigend korrigiert.</li>
              <li><i>Dozent:</i> Familien- und Vorname(n) des Dozenten. Die Namensansetzung richtet sich - wo möglich - nach der Personennamendatei (PND) der Deutschen Nationalbibliothek.</li>
              
              <li><i>Anstellungsverhältnis/akademischer Titel:</i> Folgende Abkürzungen finden Verwendung: PD (Privatdozent), EO (Extraordinarius), O (Ordinarius), HP (Honorarprofessor). Lehrkräfte, die nicht in einem solchen Anstellungsverhältnis stehen bzw. einen solchen akademischen Titel führen, werden als "Dozenten" (Doz) bezeichnet.</li>
              
              <li><i>Dekanat/Rektorat:</i> Amtiert der jeweilige Dozent im entsprechenden Semester als Rektor oder als Dekan, wird dies vermerkt. Die Dekanate werden nach dem Muster "Dekan/Fakultät" abgekürzt, wobei "T" für die theologische, "S" für die staatswissenschaftliche, "M" für die medizinische und "P" (ab 1860 "P1" und "P2") für die philosophische Fakultät respektive für deren Sektionen steht. - Wurde eine Lehrveranstaltung von mehreren Dozenten gemeinsam durchgeführt, werden die genannten Punkte für jeden der beteiligten Dozenten angegeben.</li>
            </ul>
          </li>
          <li>
            <p>2. Absatz</p>
            <ul>
              <li><i>Veranstaltungstitel:</i> Der Titel der Lehrveranstaltung wird unverändert nach der Vorlage wiedergegeben. Wie in anderen Druckerzeugnissen der Zeit präsentiert sich die Rechtschreibung in den Vorlagen als nicht genormt, so dass verschiedene Schreibungen vorkommen (Geburtshülfe/Geburtshilfe, Medicin/Medizin, Litteratur/Literatur, italiänisch/italienisch, Paedagogik/Pädagogik, Alterthum/Altertum, Shakspeare/Shakespeare etc.). Druckfehler - nicht aber eigentümliche Schreibweisen - werden stillschweigend korrigiert. Sind in einem Veranstaltungstitel spezifische Lehrbücher angegeben, werden diese in einer durch einen Asterisk (*) gekennzeichneten Erläuterung bibliographisch erfasst.</li>
            </ul>
          </li>
          <li>
            <p>3. Absatz</p>
            <ul>
              <li><i>Veranstaltungsmodus:</i> Etwaige nähere Angaben über die Kosten oder den Hörerkreis ("gratis/unentgeltlich", "gratis für die Mitglieder des Seminars", "publice/öffentlich", "privatissime/privatissimum/privatim", "für Zuhörer aus allen Fakultäten" etc.) werden unverändert nach der Vorlage wiedergegeben.</li>
            </ul>
          </li>
          <li>
            <p>4. Absatz</p>
            <ul>
              <li><i>Zeitangaben/Wochenstunden:</i> Am Ende folgen in zusammengefasster und normalisierter Form Angaben zur Veranstaltungshäufigkeit und -zeit und der daraus resultierenden Anzahl an Wochenstunden (<i>St</i>). Enthält die Vorlage keine Angabe zur Anzahl der Wochenstunden, werden diese - sofern möglich - aus den übrigen Angaben berechnet und ergänzt. Eine Schwierigkeit ergibt sich aus der Tatsache, dass in den Vorlagen die Zeitangaben in der Form der sog. 12-Stunden-Zählung erfolgen, so dass Unklarheiten entstehen können, ob Morgen- oder Abendstunden gemeint sind. Zeitangaben, die mit fünf Uhr beginnen (meist "5-6" oder "5-7"), werden deshalb als Morgenstunden wiedergegeben, außer wenn sie in der Vorlage durch nähere Angaben als Abendstunden charakterisiert sind. Weitere nicht näher spezifizierte Zeitangaben ab 6 Uhr, die sowohl als Morgen- als auch als Abendstunden interpretierbar sind, erscheinen als Morgenstunden. Der Hinweis "im Polytechnikum" weist darauf hin, dass die entsprechende Lehrveranstaltung am eidgenössischen Polytechnikum (heute Eidgenössische Technische Hochschule Zürich) gehalten wurde und auch von den Studierenden der Universität besucht werden konnten. In den gedruckten Vorlesungsverzeichnissen sind diese Veranstaltungen mit einem Asterisk (*) gekennzeichnet.</li>
            </ul>
            
          </li>
        </ul>

        <h2>Dozentenseiten</h2>

        <p>Unter <a href="/dozenten/" class="Link">Dozenten</a> lassen sich die in den gedruckten Vorlesungsverzeichnissen der Universität Zürich im 19. Jahrhundert angekündigten Lehrveranstaltungen der einzelnen Dozenten anzeigen.</p>
        <p>Insgesamt begegnen in den Vorlesungsverzeichnissen der Universität Zürich vom Sommersemester 1833 bis zum Sommersemester 1900 428 verschiedene Dozenten. Die Auflistung der jeweiligen Lehrveranstaltungen wird durch einen Kopftext eingeleitet, der folgende Elemente enthält:</p>

        <ul>
          <li>Familien- und Vorname(n)</li>
          <li>Lebensdaten</li>
          <li>Verweis auf das entsprechende Dozentenbiogramm in der von Ernst Gagliardi et al. bearbeiteten Universitätsgeschichte (UZV: Die   Universität Zürich 1833-1933 und ihre Vorläufer, bearbeitet von Ernst   Gagliardi, Hans Nabholz und Jean Strohl, Zürich 1938, S. 956-1001)</li>
          <li>Fakultätszugehörigkeit</li>
          <li>Rektorate/Dekanate</li>
          <li>Personennamendatei-Nummer</li>
        </ul>
        
        <p>Die Wiedergabe der einzelnen Lehrveranstaltungen enthält in Tabellenform folgende Bestandteile:</p>
        
        <ul>
          <li><i>Nummer:</i> Diese Nummer zeigt an, um die wievielte Veranstaltung des jeweiligen Dozenten es sich handelt. Die erste durch den Dozenten überhaupt angekündigte Veranstaltung trägt folglich die Nummer 1.</li>
          
          <li><i>Semester:</i> Angabe des Semesters, für das die Lehrveranstaltung angekündigt wurde. Die Semesterangabe ist verlinkt mit der jeweiligen Veranstaltung im entsprechenden Vorlesungsverzeichnis.</li>
          
          <li><i>Veranstaltungstitel:</i> Die Angabe beschränkt sich auf den eigentlichen Veranstaltungstitel. Hinweise auf den Veranstaltungsmodus sowie zur Veranstaltungshäufigkeit und -zeit sind im Vorlesungsverzeichnis des entsprechenden Semesters nachzusehen.</li>
          
          <li><i>Grad:</i> Anstellungsverhältnis/akademischer Titel im jeweiligen Semester. Folgende Abkürzungen finden Verwendung: PD (Privatdozent), EO (Extraordinarius), O (Ordinarius), HP (Honorarprofessor). Lehrkräfte, die nicht in einem solchen Anstellungsverhältnis stehen bzw. einen solchen akademischen Titel führen, werden als "Dozenten" (Doz) bezeichnet. Falls mehrere Angaben erscheinen, ist dies ein Hinweis darauf, dass die Veranstaltung von mehreren Dozenten gemeinsam durchgeführt bzw. angekündigt wurde.</li>
          
          <li><i>Funktion:</i> Rektorate/Dekanate. Amtiert der Dozent im jeweiligen Semester als Dekan oder als Rektor, wird dies vermerkt. Die Dekanate werden nach dem Muster "Dekan/Fakultät" abgekürzt, wobei "T" für die theologische, "S" für die staatswissenschaftliche, "M" für die medizinische und "P" (ab 1860 "P1" und "P2") für die philosophische Fakultät respektive für deren Sektionen steht.</li> 
        </ul> 

        <h2>Suche</h2>

        <p>Die Suchmöglichkeiten und die verschiedenen Suchfunktionen werden auf der <a href="/suche/" class="Link">Suchseite</a> erklärt.</p>
    </SectionTextPict>
</DefaultLayout>