---
import DefaultLayout from '~/layouts/DefaultLayout.astro';
import MetaHead from "~/components/page/MetaHead.astro";
import SectionIntro from "~/components/page/SectionIntro.astro";
import SectionTextPict from "~/components/page/SectionTextPict.astro";

import { pageinfo } from '~/constants.ts';
const page_title = "Home";

---
<DefaultLayout>
    <MetaHead slot="head"
        title={`${page_title} | ${pageinfo.title} ${pageinfo.byline}`}
        description={`${pageinfo.description}`}
    />
    
    <SectionIntro>{`${pageinfo.title} ${pageinfo.byline}`}
        <!--
        <div class="Intro--text" slot="lead"><p></p></div>
        -->
    </SectionIntro>

    <SectionTextPict>
        <p>Das Portal "Historische Vorlesungsverzeichnisse der Universität Zürich" erschließt als Hilfsmittel und Nachschlagewerk für biographische, forschungs-, disziplinen- oder institutionsgeschichtliche Fragestellungen alle im 19. Jahrhundert an der Universität Zürich angekündigten Lehrveranstaltungen auf der Grundlage der gedruckten Vorlesungsverzeichnisse. Es handelt sich dabei um insgesamt 24575 Veranstaltungen während 135 Semestern vom Sommersemester 1833 bis zum Sommersemester 1900.</p>
        <p>Die angekündigten Lehrveranstaltungen der einzelnen Semester lassen sich unter Vorlesungsverzeichnisse auswählen. Unter Dozierende lassen sich die Lehrveranstaltungen der einzelnen Dozierenden anzeigen. Weiter steht zur kombinierten Recherche eine Suchmaske zur Verfügung.</p>
    </SectionTextPict>

</DefaultLayout>
