---
import DefaultLayout from '~/layouts/DefaultLayout.astro';
import MetaHead from "~/components/page/MetaHead.astro";
import SectionIntro from "~/components/page/SectionIntro.astro";
import SectionTextPict from "~/components/page/SectionTextPict.astro";

import { pageinfo } from '~/constants.ts';
const page_title = "Home";

---
<DefaultLayout>
    <MetaHead slot="head"
        title={`${page_title} | ${pageinfo.title} ${pageinfo.byline}`}
        description={`${pageinfo.description}`}
        matomo_tracking_id={`${pageinfo.matomo_tracking_id}`}
    />
    
    <SectionIntro>{`${pageinfo.title} ${pageinfo.byline}`}
        <!--
        <div class="Intro--text" slot="lead"><p></p></div>
        -->
    </SectionIntro>

    <SectionTextPict>
        <p>Das Portal &laquo;Historische Vorlesungsverzeichnisse der Universität Zürich&raquo; erschliesst als Hilfsmittel und Nachschlagewerk für biographische, forschungs-, disziplinen- oder institutionsgeschichtliche Fragestellungen die an der Universität Zürich angekündigten Lehrveranstaltungen auf der Grundlage der gedruckten Vorlesungsverzeichnisse (1833–2014). Die Datenbank ist noch nicht vollständig, wird aber in unregelmässigen Abständen erweitert. </p>
        <p>Die angekündigten Lehrveranstaltungen der einzelnen Semester lassen sich unter <a href="/vv/" class="Link">Vorlesungsverzeichnisse</a> auswählen. Unter <a href="/dozierende/" class="Link">Dozierende</a> lassen sich die Lehrveranstaltungen der einzelnen Dozierenden anzeigen. Weiter steht zur kombinierten Recherche eine <a href="/suche/" class="Link">Suchmaske</a> zur Verfügung.</p>
    </SectionTextPict>

</DefaultLayout>
