---
interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props;
const titleSuffix = " | UZH";
---
<title>{title}</title>
<meta name="description"        content={description} />
<meta property="og:title"       content={`${title} ${titleSuffix}`} />
<meta property="og:description" content={description} />
<meta property="og:url"         content={Astro.url} />
<meta property="og:type"        content="website">
<!-- <meta property="og:image"  content="../../../dummy/shareimage_example_1200x630.jpg"> -->
